.login-box {
  background: white;
  padding: 30px 40px 40px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 420px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-size: 24px;
}



.signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.signup-link a {
  color: var(--col-1);
  text-decoration: none;
  font-weight: 600;
}

.signup-link a:hover {
    text-decoration: underline;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

}
form label {
    align-self: flex-start;
    font-weight: 600;
    margin-right: 8px;

}
form input {
    width: 70%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--col-1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form button:hover {
    background-color: rgb(74, 20, 140, 0.85);
}
