<header>
  <div class="barra">
    <img src="img-quickish-header.png" alt="Quickish" />
    <nav class="tabs">
      <a routerLink="/restaurante/menu" routerLinkActive="active">Perfil</a>
      <a routerLink="/restaurante/resenas" routerLinkActive="active">Pedidos</a>
      <a routerLink="/restaurante/historial" routerLinkActive="active">Pagos</a>
      <a routerLink="/restaurante/historial" routerLinkActive="active">Direcciones</a>
    </nav>

    <button class="perfil" aria-label="Perfil" routerLink="/cliente/perfil">
      <img src="/image.png" alt="Perfil del usuario" />
    </button>
  </div>
</header>
